body {
  font-family: Arial;
  background-color: #f4f4f4;
}

.app {
  padding: 20px;
}

.product {
  background: white;
  padding: 12px;
  margin: 10px 0;
  border-radius: 5px;
}

button {
  margin-top: 8px;
  padding: 6px 12px;
}
