body {
  display: block;
  width: 98vw;
  height: 98vh;
}

.common {
  width: 96vw;
  padding: 30px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  display: flex;
}

.header {
  justify-content: right;
  height: 20vh;
  text-shadow: 0px 0px 2px orange;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.header img {
  height: 15vh;
}

.content {
  min-height: 68vh;
}

.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  width: 350px;
  height: 400px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 2px 2px 5px black;
  text-align: center;
  align-items: center;
}

.card img {
  width: 150px;
  height: 150px;
  margin-top: 10px;
}

.card h2 {
  font-size: 14px;
}

.footer {
  height: 10vh;
  gap: 5vw;
}
